[Desktop Entry]
Name=SpaceWebRadio
Comment=SpaceWebRadio
Icon=/home/pi/radio/skin/radio_icon.png
Exec=/home/pi/radio/SpaceWebRadio.py
Type=Application
Encoding=UTF-8
Terminal=false
Categories=None;
